
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the application takes up exactly the full viewport size without overflow at the root level */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
